@using Application.Entities.Entities

@model IEnumerable<Category>

@{
    ViewBag.Title = "View";
}

@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}


<h2>List of All Categories</h2>

<div class="panel panel-default ">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-2x"></i> Category Data</h3>
    </div>
    <div class="panel-body">
        <div class="table-responsive ">

            <table id="assets-data-table" class="table table-striped table-responsive table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>@Html.DisplayNameFor(model => model.CategoryName) </th>
                        <th>@Html.DisplayNameFor(model => model.Description)</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td class="hover">@Html.DisplayFor(listItem => item.CategoryID)</td>
                                <td class="hover">@Html.DisplayFor(listItem => item.CategoryName)</td>
                                <td class="hover">@Html.DisplayFor(listItem => item.Description)</td>
                                @*<td class="hover">@item.Products.Count()</td>*@
                                <td class="hover">
                                    @Html.ActionLink(" ", "Edit", new { id = item.CategoryID }, new { @class = "fa fa-pencil-square fa-2x text-primary", style = "text-decoration:none;" })
                                    &nbsp;
                                    @Html.ActionLink(" ", "Delete", new { id = item.CategoryID }, new { @class = "fa fa-minus-square fa-2x text-danger", style = "text-decoration:none;" })
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>




@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {

            var oTable = $('#assets-data-table').DataTable({
                responsive: true,
                //ajax: {
                //    url: "/Category/GetCategories",
                //    type: "Get",
                //    datatype: "json"
                //},
                //columns: [
                //    { "data": "CategoryID" },
                //    { "data": "CategoryName" },
                //    { "data": "Description" }                   
                    
                //],
                searching: false
                
            });
        });
    </script>
}
